<% if question.vote_of(current_user) && question.vote_of(current_user).score == -1 %>
  <%= link_to question_path(id: question.id, type: :unvote), remote: true, method: :patch do %>
    <div class="down-arrow blue"></div>
  <% end %>
<% else %>
  <%= link_to question_path(id: question.id, type: :downvote), remote: true, method: :patch do %>
    <div class="down-arrow grey"></div>
  <% end %>
<% end %>
