<div class="question-item hidelink">
  <div class="question-row">
    <div class="arrows">
      <div class="upvote-arrow"></div>
      <div class="downvote-arrow"></div>
    </div>
    <div class="listing">
      <div id="title"><%= link_to(question.title, question_path(id: question.id), remote:true) %></div>
      <%= render "info", submission: question %>
    </div>
  </div>
  <hr>
</div>
