<%= link_to question_path(id: question.id), remote:true do %>
  <div class="question-item hidelink">
    <p class= "hidelink">
      <div><h3><%= question.title %></h3></div>
    <hr>
</div>
<% end %>
