<%= link_to question_path(id: question.id), remote:true do %>
  <div class="question-item hidelink">
    <p class= "hidelink">
      <div id="title"><%= question.title %></div>
      <div id="info"><%= "submitted on %s" % [question.created_at.strftime("%B #{question.created_at.day.ordinalize}, %Y")] %></div>
    <hr>
</div>
<% end %>
