<div class="question-item hidelink">
  <div class="question-row">
    <div class="arrows">
      <%= link_to question_path(id: question.id, type: :upvote), remote: true, method: :patch do %>
        <div class="upvote-arrow"></div>
      <% end %>
      <%= link_to question_path(id: question.id, type: :downvote), remote: true, method: :patch do %>
        <div class="downvote-arrow"></div>
      <% end %>
    </div>
    <div class="listing">
      <div id="title"><%= link_to(question.title, question_path(id: question.id), remote:true) %></div>
      <%= render "info", submission: question %>
    </div>
  </div>
  <hr>
</div>
