<div>
  <p>
    <div class="nofollow">
      <%= render "questionheader", question: @question %>
    </div>
    <div class="box" id="text"><%= @question.text %></div>
    <hr>
  </p>
  <%= render new_comment_path, question_id: @question.id %>
  <div id="direct-comments-container">
    <%= render @comments %>
  </div>
</div>
