

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<div class="container">
  <h1><strong>GroupThink beta</strong></h1>
  <hr>
  <h2><strong>We'll send you a CS / Math paper every week.</strong></h2>
  <p>Read, discuss, ask questions. Sound like your thing? Sign up for the beta!
  </p>

  <p><%= link_to "I'm in!", "#signup", "data-toggle" => "modal", class: "btn btn-primary btn-lg" %></p>
</div>
</div>

<div class="container">
<!-- Example row of columns -->
<div class="row">
  <div class="col-md-4">
    <h2>The Bitcoin Whitepaper</h2>
    <p>Try out our platform by reading about Bitcoin's theoretical basis. Written under a secretive pseudonym, The Bitcoin Whitepaper lays the groundwork for a distributed currency with no centralized ledger. This is a must read if you want to understand how Bitcoin and other forms of Blockchain work under the hood.</p>
    <p><%= link_to "Try it out", docs_index_path, class: "btn btn-default" %></p>
  </div>

</div>

<hr>
