

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<div class="container">
  <h1><strong>The Future of Academic Journals</strong></h1>
  <h2><strong>The one-to-many relationship between research author and consumer is outdated. </strong></h2>
  <hr>
  <p>As science has progressed, the barrier to understanding research in even slightly foreign domains has risen.
  </p>
  <p>
  You should be able to click on a confusing term or sentence while reading a paper and get the clarifying information instantly. Research documents should be distributed and interactive - navigating papers should be like navigating the web. <strong>We're trying to build the next step.</strong>
  </p>

  <p>GroupThink is still in beta, so we've chosen 3 interesting papers that you can explore below.</p>

  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
</div>
</div>

<div class="container">
<!-- Example row of columns -->
<div class="row">
  <div class="col-md-4">
    <h2>The Bitcoin Whitepaper</h2>
    <p>Written under a secretive pseudonym, the bitcoin whitepaper lays out the theoretical basis for a distributed currency with no centralized ledger. This is a must read if you want to understand how Bitcoin works under the hood. </p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
 </div>
  <div class="col-md-4">
    <h2>Heading</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>

<hr>
